// $neon: #8EE4AF;
// $green: #379683;
// $lgreen: #EDF5E1;
// $grey: #d8d7d7;
// $dblue: #05386B;

// $neon: #d8d7d7;
// $green: #379683;
// $lgreen: #05386B;
// $grey: #d8d7d7;
// $dblue: #05386B;

$neon: #c6c6c6;
$green: #393d3f;
$lgreen: #5eb9ff;
$grey: #ffffff;
$dblue: #f9e220;