@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat');
@import 'variables';

/* ----------------------------------------------------- */
/* --------- Common ----------- */
/* ----------------------------------------------------- */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    background-color: $neon;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Abril Fatface', monospace;
    color: $dblue;

    h1 {
        font-size: 3em;
    }
}

.navbar {
  background-color: $green;
  
    .navbar-brand {
        color: white;
    }

    .nav-link {
        color: $grey;
    }

    .navbar-toggler{
        background-color: #fff;
    }
}

.nav-pill {
    height: 25px;
    width: 30px;
}

.nav-pill, .check-pill {
    background-color: $lgreen;
}




/* ----------------------------------------------------- */
/* --------- Browse ----------- */
/* ----------------------------------------------------- */

#browse {

    h1 {
        font-size: 5em;
    }

    .products {
        padding: 0;
        margin-top: 3em;
    }
}

.br-product {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    img {
        width: 300px;
        height: 300px;;
    }

    h2 {
        font-size: 1.5em;
    }

    button {
        display: block;
    }
}

.product-name {
    padding-top: 10px;
    padding-bottom: 10px;
    color: $lgreen;
}

/* ----------------------------------------------------- */
/* --------- View Cart ----------- */
/* ----------------------------------------------------- */

#view {
    text-align: left;

    h1 {
        font-size: 5em;
    }

    .updates {
        display: flex;

        p {
            padding-right: 30px;
        }
    }

    .btn-delete {
        padding-bottom: 20px;
    }

    .justify {
        float: right;
    }
}


/* ----------------------------------------------------- */
/* --------- Checkout ----------- */
/* ----------------------------------------------------- */


h2, h3, h4 {
    color: black;
}

#checkout {
    text-align: left;

    h1 {
        font-size: 5em;
        text-align: center;
    }
}

.your-cart {
    display: flex;
    justify-content: space-between;

    span {
        height: 25px;
        width: 30px;
    }
}

.ship-free {
    color: green;
}

/* ----------------------------------------------------- */
/* --------- Confirmation ----------- */
/* ----------------------------------------------------- */

.img-list {
        width: 120px;
        height: auto;
}