.hero {
    background-image: url(img/dream.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    .hero-info {
        color: #C6FFFB;
        padding-top: 350px;
        padding-bottom: 350px;

        & h1 {
        font-size: 4em;
    }

    & p {
        font-size: 2em;
    }
    }
}

.socials {
    padding-top: 2em;
    padding-bottom: 1.4em;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.check-out {
    background-color: #C6FFFB;
    color: #00487C;
    padding-top: 100px;
    padding-bottom: 50px;

    .public {
        padding-bottom: 50px;
    }

    img {
        width: 150px;
    }
}